<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="jquery-2.1.4.min.js"></script>
    <link href="proximal.css" rel="stylesheet" />
    <title>Proximal</title>
</head>
<body>
    <div id="navbar">
        <a href="settings.html"><div class="navitem"><img id="settings" src="gear.png" /></div></a>
        <a href="map.html"><div class="navitem">Map</div></a>
        <a href="index.html"><div class="navitem">Stream</div></a>
    </div>
    <a href="settings.html"><div class="reload"><img id="reload" src="refresh.gif" /></div> </a>

</body>
</html>